<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leo's Blog</title>
    <link rel="stylesheet" href="../static/index.css">
  </head>
  <body>
    <h1>Leo's Blog</h1>
    <h3><a href="my_favorite_candy">Here's a list of my favorite candy</a></h3>
    <h2>All About Me</h2>
    <p>I currently live in a small town outside Newark, NJ named Orange. I am a rising freshman at Stanford University. I am extremely excited about learning at one of the best computer science colleges in the world.</p>
    <h2>My Favorite Foods</h2>
    <ul>
      <li>Macaroni and Cheese</li>
      <li>Lobster</li>
      <li>Icecream</li>
    </ul>
    <h2>How I Spent My Summer Vacation</h2>
    <p>I spent this past summer participating in the Computer Science Summer Institute at the Google Office in NYC.</p>
  </body>
  <script src="../js/index.js"></script>
</html>
